.main {
    float: left;
    width: 200px;
    background: #f5f5f5;
    border: black 10px solid;
    padding: 200px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
    
}
 #diceImage {
     margin-right: 50px;
 }
/* .main2{
    float: left;
    width: 70px;
    background: #f5f5f5;
    border: black 10px solid;
    padding: 100px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
} */
  
button {
    color: blueviolet;
}